<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />	
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>	

		<script src="http://127.0.0.1:8899/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="js/jQueryEffects.js"></script>
		<script src="js/Controller.js" type="text/javascript"></script>	

		<link rel="stylesheet" type="text/css" href="css/animate.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

	</head>
	<body ng-controller="Control as DATA">
		<header>
			<section class="logo">
				<h1>Wellcome to SteamAccBattle!</h1>
			</section>
			<section class="main">
				<section class="col-lg-12">
					<button class="GoButton" ng-click="DATA.test()">FIGHT!</button>
				</section>
				<section id="firstUser" class="user col-lg-6 container-fluid">
					<section class="user-info">
						<ul>
							<li><input class="form-control" placeholder="enter account url here" ng-model="DATA.firstUsrUrl" type="text" name="firstUserName"></li>

							<li>
								<img ng-if = "DATA.firstUSER.GameCount" src={{DATA.firstUSER.Avatar}}>
							</li>
							<li>Username: {{ DATA.firstUSER.UserName }} </li>
							<li>Community level: {{ DATA.firstUSER.player_level }}</li>
							<li>Community expirience: {{ DATA.firstUSER.player_xp }}</li>
							<li>Games played: {{ DATA.firstUSER.GameCount }}</li>
							<li>Hours played: {{ DATA.firstUSER.TotalHoursPlayed }}</li>
							<li>Hours per game: {{ DATA.firstUSER.HoursPerGame }}</li>
							<li><hr></li>
							<li>SCORE: {{ DATA.firstUSER.TotalScore }}</li>
						</ul>

					</section>
				</section>
				<section id="secondUser" class="user col-lg-6 container-fluid">
					<section class="user-info">
						<ul>
							<li><input class="form-control" placeholder="enter account url here" ng-model="DATA.secondUsrUrl" type="text" name="firstUserName"></li>
							
							<li>
								<img ng-if = "DATA.firstUSER.GameCount" src={{DATA.secondUSER.Avatar}}>
							</li>							

							<li>Username: {{ DATA.secondUSER.UserName }} </li>
							<li>Community level: {{ DATA.secondUSER.player_level }}</li>
							<li>Community expirience: {{ DATA.secondUSER.player_xp }}</li>
							<li>Games played: {{ DATA.secondUSER.GameCount }}</li>
							<li>Hours played: {{ DATA.secondUSER.TotalHoursPlayed }}</li>
							<li>Hours per game: {{ DATA.secondUSER.HoursPerGame }}</li>
							<li><hr></li>
							<li>SCORE: {{ DATA.secondUSER.TotalScore }}</li>
						</ul>

					</section>
				</section>				
			</section>
		</header>
		<footer>

		</footer>
	</body>
</html>
